#Idea
.idea/workspace.xml
.idea/sonarlint/issuestore/

#Target build
.build/

#Binary
mapEditor/urchinMapEditor
mapEditor/core
test/testExecutor
test/core

#Others
mapEditor/save/states.properties
mapEditor/urchinEngine.log
